.choose-playlist-selector {

    .choose-playlist-selector-title {
      padding-bottom: 1.5em;
      font-weight: bold;
    }
  
    .h5p-playlist-row {
      cursor: pointer;
    }
  
    .h5p-playlist-row:last-of-type {
      border-bottom-width: 1px;
    }
  
    .h5p-playlist-list {
      max-height: 20em;
      overflow: auto;
      padding: 1px;
    }
  }